.input {
  margin: 0.5rem 0;
  padding: 0.75rem;
  width: 100%;
  border: 1px solid var(--primary-variant);
  border-radius: var(--radius);
  font-size: var(--font-regular);
  font-weight: var(--font-weight);
}

.input:invalid[data-focused="true"] {
  border: 2px solid var(--warning-color);
  color: var(--warning-color);
}
