.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-options {
  display: block;
  width: 100%;
  padding: var(--padding-tb);
  font-size: var(--font-regular);
  font-weight: 600;
  text-align: center;
}

.login-options::before,
.login-options::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--border-color);
}
