.button {
  margin: 0.5rem 0;
  color: var(--primary-color);
  background-color: var(--secondary);
  padding: 0.75rem 3rem;
  border-radius: var(--radius);
  border: 1px solid var(--primary-variant);
  font-size: var(--font-regular);
  font-weight: var(--font-weight);
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color var(--transition);
  position: relative;
}

.button:hover {
  background-color: var(--secondary-variant);
}

.button.secondary {
  background-color: var(--primary);
  color: var(--secondary);
}

.button.secondary:hover {
  background-color: var(--primary-variant);
}

.button.width-full {
  width: 100%;
}

.button-icon {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
}

.button.secondary > .button-icon {
  filter: invert(1);
}
