.button {
  color: var(--primary-color);
  background-color: var(--color-white);
  padding: 0.75rem 3rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  font-size: var(--font-regular);
  font-weight: var(--font-weight);
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color var(--transition);
}

.button:hover {
  background-color: var(--secondary-color);
}

.button.secondary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.button.secondary:hover {
  background-color: var(--primary-color-variant);
}
