.dropdown-item {
  padding: 5px;
  margin: 2px 0;
  border-radius: var(--radius-sml);
  cursor: pointer;
  font-size: var(--font-regular);
}

.dropdown-item:hover {
  background-color: var(--primary-color-variant);
  color: var(--color-white);
  transition: background-color, color var(--transition);
}

.dropdown-item a {
  display: block;
  height: 100%;
  width: 100%;
}
