.dropdown-item {
  padding: 5px;
  margin: 2px 0;
  border-radius: calc(var(--radius) / 2);
  cursor: pointer;
  font-size: var(--font-regular);
}

.dropdown-item:hover {
  background-color: var(--primary-variant);
  color: var(--secondary);
  transition: background-color, color var(--transition);
}

.dropdown-item a {
  display: block;
  height: 100%;
  width: 100%;
}
