.user {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-profile {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
