.hero {
  height: var(--page-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-buttons {
  display: flex;
  gap: var(--item-gap);
  justify-content: center;
}
