.hero {
  height: calc(100vh - 3.75rem - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-buttons {
  display: flex;
  gap: 1.2rem;
}
