.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content {
  padding: calc(var(--padding) / 2);
  max-width: 1220px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container-content {
    padding: calc(var(--padding) / 2);
  }
}
