.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content {
  padding: 0 1rem;
  max-width: 1220px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container-content {
    padding: 0 0.5rem;
  }
}
