.post-wrapper {
  border-bottom: 1px dashed var(--secondary-variant);
  /* border-radius: var(--radius); */
}

.post-wrapper:last-child {
  border-bottom: none;
}

/* .post-wrapper:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-top: none;
}

.post-wrapper:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}

.post-wrapper:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: none;
}

.post-wrapper:only-child {
  border-radius: 0.25rem;
  border: 1px solid var(--secondary-variant);
} */

.post {
  padding: var(--padding-tb);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.post-title {
  font-size: calc(var(--font-regular) * 1.1);
  text-transform: capitalize;
  padding: 0 0 0.5rem 0;
}

.post-title:hover {
  text-decoration: underline;
}

.post-date {
  text-transform: capitalize;
  color: var(--primary-variant);
  font-size: var(--font-regular);
}

.post-action {
  border: 1px solid var(--secondary-variant);
  height: 2rem;
  width: 2rem;
  border-radius: calc(var(--radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  cursor: pointer;
  transition: background-color var(--transition);
}

.post-action:hover {
  background-color: var(--secondary-variant);
}

.action-toggle {
  background-color: var(--primary);
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 50%;
}
