@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
}

:root {
  --primary: #1a1a1a;
  --primary-variant: #2e2e2e;
  --secondary: #f4f5ff;
  --secondary-variant: #f2f8f5;
  --warning-color: red;
  --radius: 0.5rem;
  --font-regular: 1rem;
  --font-header: 3.75rem;
  --font-title: 2rem;
  --font-tagline: 1.25rem;
  --font-weight: 500;
  --animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  --transition: 0.15s ease;
  --font-inter: "Inter Tight", sans-serif;
}

html {
  font-size: var(--font-regular);
  font-weight: 500;
  color: var(--primary);
  background-color: var(--secondary);
}

a {
  text-decoration: none;
  color: inherit;
}
