@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
}

:root {
  --primary-color: #1a1a1a;
  --primary-color-variant: #2e2e2e;
  --color-white: #ffffff;
  --secondary-color: #f4f7fa;
  --border-color: hsl(214.3, 31.8%, 91.4%);
  --color-muted: hsl(215.4, 16.3%, 46.9%);
  --radius: 8px;
  --font-regular: 1rem;
  --font-header-primary: 3.75rem;
  --font-header-tagline: 1.25rem;
  --font-weight: 500;
  --transition: 0.15s ease;
  --font-inter: "Inter Tight", sans-serif;
}

body {
  font-size: var(--font-regular);
  font-weight: 500;
  color: var(--primary-color);
}
