.usermenu-content {
  padding: 0 5px 10px 5px;
}

.username {
  color: var(--primary);
  font-weight: var(--font-weight);
  font-size: var(--font-regular);
}

.email {
  font-weight: var(--font-weight);
  font-size: var(--font-regular);
}
