.usermenu-header {
  padding: var(--padding);
  padding-top: 0;
}

.username {
  color: var(--primary);
  font-weight: var(--font-weight);
  font-size: calc(var(--font-regular) * 1.2);
}

.email {
  font-weight: var(--font-weight);
  font-size: calc(var(--font-regular) / 1.1);
}
